:root {
	--en-background-color: #3F69AA;
	--en-background-color-question: #3F69AA;
	--en-background-color-answer: #6F9FD8;
	--en-background-color-question-text: #fff;
	--en-background-color-answer-text: #fff;
	--en-background-color-button-down: #343148;
}

html, head, body  {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: 'Chapaza';
}

div {
	margin: 5px;
	padding: 5px;
	font-family: 'Chapaza';
}

/**
* Page d'accueil index.html
*/

#index {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
}

#logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
	width: 50%;
	height: 50%;
	text-align: center;
}

a, input, select {
	margin: 25px;
	color: var(--en-background-color);
	border: none;
	text-decoration: none;
	color: black;
}

span {
	font-size: 16px;
	margin: 25px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #33272b;
  padding: 2px 6px 2px 6px;
}

.button:hover {
	background-color: #7cb41d;
}


.button > a {
	color: #ffffff;
}

 select {
/* styling */
  background-color: white;
  border: thin solid #33272b;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  font: inherit;
  font-size: 32px;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

/**
* Page de l'outil recherche.html
*/

#parameters, #finish {
	position: absolute;
	display: none;
}

#system {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	background-color: var(--en-background-color);
}

#menu {
	display: flex;
	flex-direction: row;
	flex: 2;
	justify-content: flex-end;
	align-items: stretch;
	font-size: 64px;
	background-color: #33272b;
	margin: 0px;
	padding: 0px;
}

#question {
	display: flex;
	flex-direction: row;
	flex: 4;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 64px;
	background-color: var(--en-background-color-question);
	margin: 15px;
	padding: 15px;
}

#answers {
	flex: 4;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	margin: 0px;
	padding: 0px;
}

.questionText {
	color: var(--en-background-color-question-text);
}

.answer {
	flex: 1px;
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 64px;
	background-color: var(--en-background-color-answer);
	margin: 15px;
	padding: 15px;
}

.unselect {
	user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.answer:hover  {
	box-shadow: inset 12px 0px white;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.answerText {
	color: var(--en-background-color-answer-text);
}

#home a {
	display: block;
	right: 0px;
	bottom: 0px;
	font-size: 64px;
	color: var(--en-background-color-answer-text);

}

.mousedown {
	background-color: var(--en-background-color-button-down);
}